<!DOCTYPE html>
<html lang="zh-cn" style=" height:100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hiho 公众平台</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/demo_search.css">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
<style type="text/css">

.input-search {
display: block;
height: 100%;
width: 100%;
padding: 7px 0 0 82px;
background: transparent;
font-size: 19px;
font-family: "AvenirLT-Light";
color: #000;
border: none;
box-sizing: border-box;
z-index: 100;
outline: none;
}

</style>    
    
</head>
  
<body style="font-family:'微软雅黑'; height:100%">
  

	<!-- 中间内容 -->



        <!-- content Animotion -->   
            <div style="width: 100%;height:100%">
                
                <div id="frame_list_header">
                        
                    	<div class="demo_search" style="width:788px; margin:0 auto;position: relative;border-bottom: 1px solid #e6e6e6;background: #fff;
border-top-left-radius: 5px;border-top-right-radius: 5px;height: 60px;">
							<img id="frame_video_back_img" src="https://www.hiho.com/img/play_single/clip_share0@2x.png" style="position:absolute; top:0;top: 15px;left: 20px; display:none;border-right: 1px solid #e5e5e5;padding-right: 15px; cursor:pointer" />
							<img id="frame_video_search_img" src="../img/magnifier@2x.png" style="position:absolute; top:0;top: 15px;left: 20px;" />
                        	<input type="text" placeholder="Search now" autocomplete="off" name="search" class="input-search" id="frame_input_search">
                        </div>
                        
                        <div style="clear:both"></div>
				</div>
                
                <iframe id="frame_web_video" class="embed-responsive-item" src="http://192.168.199.163/paly_adaptive" style="width:100%;border: 0px; height:500px; display:none"></iframe>
                
               <!--animation-widget -->
               <div id="frame_content" style="height:625px; z-index:100; margin:0; padding:0">
                    
                    <!-- demo  content-->
                    <div id="frame_list_content" style=" width: 820px; margin:0 auto;max-height:550px; display:none; z-index:99;">
                    	
                        <ul class="demo_search_content_one video_ul" id="frame_list_ul">
                        	<li class="video_ul_li clearfix" playid="VIIQo5SG">
                            
                                <div class="video_left">
                                    <div class="video_top">
                                        <div class="cover">
                                            <img class="lazy" data-original="https://dn-hiho.qbox.me/videopic/201412/20Dec2014153139.jpg?imageView2/1/w/230/h/119/q/100" src="https://dn-hiho.qbox.me/videopic/201412/18Dec2014231202.jpg?imageView2/1/w/230/h/119/q/100" data-no-retina="" alt="Cover" title="ted staff: It's ted, the Musical" style="display: inline;">
                                             <div class="     green_lin"></div>
                                        </div>
                                        <div class="data">
                                            <div class="title clearfix">
                                            
                                                <div class="score clearfix" title="5分">
                                                    <img src="../img/gray@2x.png" src="../img/gray@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/gray@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <div style="clear:both"></div>
                                                </div>
                                            
                                                <p class="title_p" title="ted staff: It's ted, the Musical">Improv Everywhere: A <em>ted</em> speaker's worst nightmare</p>
            
                                                <div style="clear:both"></div>
                                            </div>
                                            <div>
                                                <p class="name" style="float:left; width:150px;margin-right: 0; margin-left:0">
                                                 	<img src="../img/user_tag@2x.png" data-at2x="../img/user_tag@2x.png" alt="Speaker" title="Speaker" style="width:16px;margin-top: -3px;margin-right: 9px;">The <em>ted</em> Staff
                                                 </p>
                                            
                                                <p class="tags">
                                                 	<img src="../img/tags@2x.png" data-at2x="../img/tags@2x.png" alt="tags" title="tags">dance genetics music
                                                     
                                                </p>
                                                <div style=" clear:both"></div>
                                            </div>
                                            
                                            <p class="sub sub_js_set"  style="position: absolute; bottom:0">Do you have a <em>ted</em> Talk inside, just bursting to come out? Take this tongue-in-cheek musical journey to “Give Your Talk.” A musical love letter to our speakers -- written, directed and performed by the <em>ted</em> staff.</p>
                                        </div>
                                        <div style=" clear:both"></div>
                                    </div>
                                    
                                    <ul class="video_bottom" id="HaCFnEQh_main_list">
            							<li class="time_line" time="38.384" playid="HaCFnEQh" num="0" et="40.094" style="display:block">
                                        	<p class="time" style="float:left">00:00:38</p>
                                        	<p class="time_data" style="float:left">DH : It was <em>ted</em> .</p>
                                        	<div style="clear:both"></div>
                                    	</li>
                                        <li class="time_line" time="55.854" playid="HaCFnEQh" num="1" et="56.524" style="display:block">
                                        	<p class="time" style="float:left">00:00:55</p>
                                        	<p class="time_data" style="float:left">LP : Who's <em>ted</em> ?</p>
                                        	<div style="clear:both"></div>
                                        </li>
                                        <li class="time_line" time="109.495" playid="HaCFnEQh" num="2" et="112.204" style="display:block">
                                        	<p class="time" style="float:left">00:01:49</p>
                                        	<p class="time_data" style="float:left">? speaker , we'll make a <em>ted</em> Talk out of you .?</p>
                                        	<div style="clear:both"></div>
                                        </li>
                                     </ul>
                            	</div>
        
        
                            </li>
                            <li class="video_ul_li clearfix" playid="HaCFnEQh">
                            
                                <div class="video_left" id="demo_li_two_div">
                                    <div class="video_top">
                                        <div class="cover">
                                            <img class="lazy" data-original="https://dn-hiho.qbox.me/videopic/201412/20Dec2014153139.jpg?imageView2/1/w/230/h/119/q/100" src="https://dn-hiho.qbox.me/videopic/201412/20Dec2014153139.jpg?imageView2/1/w/230/h/119/q/100" data-no-retina="" alt="Cover" title="ted staff: It's ted, the Musical" style="display: inline;">
                                             <div class="     green_lin"></div>
                                        </div>
                                        <div class="data">
                                            <div class="title clearfix">
                                            
                                                <div class="score clearfix" title="5分">
                                                    <img src="../img/gray@2x.png" src="../img/gray@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <div style="clear:both"></div>
                                                </div>
                                            
                                                <p class="title_p" title="ted staff: It's ted, the Musical"><em>ted</em> staff: It's <em>ted</em>, the Musical</p>
            
                                                <div style="clear:both"></div>
                                            </div>
                                            <div>
                                                <p class="name" style="float:left; width:150px;margin-right: 0; margin-left:0">
                                                 	<img src="../img/user_tag@2x.png" data-at2x="../img/user_tag@2x.png" alt="Speaker" title="Speaker" style="width:16px;margin-top: -3px;margin-right: 9px;">The <em>ted</em> Staff
                                                 </p>
                                            
                                                <p class="tags">
                                                 	<img src="../img/tags@2x.png" data-at2x="../img/tags@2x.png" alt="tags" title="tags">dance genetics music
                                                     
                                                </p>
                                                <div style=" clear:both"></div>
                                            </div>
                                            
                                            <p class="sub sub_js_set"  style="position: absolute; bottom:0">Do you have a <em>ted</em> Talk inside, just bursting to come out? Take this tongue-in-cheek musical journey to “Give Your Talk.” A musical love letter to our speakers -- written, directed and performed by the <em>ted</em> staff.</p>
                                        </div>
                                        <div style=" clear:both"></div>
                                    </div>
                                    
                                    <ul class="video_bottom" id="HaCFnEQh_main_list">
            							<li class="time_line" time="38.384" playid="HaCFnEQh" num="0" et="40.094" style="display:block">
                                        	<p class="time" style="float:left">00:00:38</p>
                                        	<p class="time_data" style="float:left">DH : It was <em>ted</em> .</p>
                                        	<div style="clear:both"></div>
                                    	</li>
                                        <li class="time_line" time="55.854" playid="HaCFnEQh" num="1" et="56.524" style="display:block">
                                        	<p class="time" style="float:left">00:00:55</p>
                                        	<p class="time_data" style="float:left">LP : Who's <em>ted</em> ?</p>
                                        	<div style="clear:both"></div>
                                        </li>
                                        <li class="time_line" time="109.495" playid="HaCFnEQh" num="2" et="112.204" style="display:block">
                                        	<p class="time" style="float:left">00:01:49</p>
                                        	<p class="time_data" style="float:left">? speaker , we'll make a <em>ted</em> Talk out of you .?</p>
                                        	<div style="clear:both"></div>
                                        </li>
                                     </ul>
                            	</div>
        
        
                            </li>
                            <li class="video_ul_li clearfix" playid="khPTsxgy">
                            
                                <div class="video_left">
                                    <div class="video_top">
                                        <div class="cover">
                                            <img class="lazy" data-original="https://dn-hiho.qbox.me/videopic/201412/20Dec2014153139.jpg?imageView2/1/w/230/h/119/q/100" src="https://dn-hiho.qbox.me/videopic/201412/15Dec2014133636.jpg?imageView2/1/w/230/h/119/q/100" data-no-retina="" alt="Cover" title="ted staff: It's ted, the Musical" style="display: inline;">
                                             <div class="     green_lin"></div>
                                        </div>
                                        <div class="data">
                                            <div class="title clearfix">
                                            
                                                <div class="score clearfix" title="5分">
                                                    <img src="../img/gray@2x.png" src="../img/gray@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/gray@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/gray@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/gray@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <div style="clear:both"></div>
                                                </div>
                                            
                                                <p class="title_p" title="ted staff: It's ted, the Musical">Chris Anderson: <em>ted</em>'s nonprofit transition</p>
            
                                                <div style="clear:both"></div>
                                            </div>
                                            <div>
                                                <p class="name" style="float:left; width:150px;margin-right: 0; margin-left:0">
                                                 	<img src="../img/user_tag@2x.png" data-at2x="../img/user_tag@2x.png" alt="Speaker" title="Speaker" style="width:16px;margin-top: -3px;margin-right: 9px;">The <em>ted</em> Staff
                                                 </p>
                                            
                                                <p class="tags">
                                                 	<img src="../img/tags@2x.png" data-at2x="../img/tags@2x.png" alt="tags" title="tags">dance genetics music
                                                     
                                                </p>
                                                <div style=" clear:both"></div>
                                            </div>
                                            
                                            <p class="sub sub_js_set" style="position: absolute; bottom:0">Do you have a <em>ted</em> Talk inside, just bursting to come out? Take this tongue-in-cheek musical journey to “Give Your Talk.” A musical love letter to our speakers -- written, directed and performed by the <em>ted</em> staff.</p>
                                        </div>
                                        <div style=" clear:both"></div>
                                    </div>
                                    
                                    <ul class="video_bottom" id="HaCFnEQh_main_list">
            							<li class="time_line" time="38.384" playid="HaCFnEQh" num="0" et="40.094" style="display:block">
                                        	<p class="time" style="float:left">00:00:38</p>
                                        	<p class="time_data" style="float:left">DH : It was <em>ted</em> .</p>
                                        	<div style="clear:both"></div>
                                    	</li>
                                        <li class="time_line" time="55.854" playid="HaCFnEQh" num="1" et="56.524" style="display:block">
                                        	<p class="time" style="float:left">00:00:55</p>
                                        	<p class="time_data" style="float:left">LP : Who's <em>ted</em> ?</p>
                                        	<div style="clear:both"></div>
                                        </li>
                                     </ul>
                            	</div>
        
        
                            </li>
                            <li class="video_ul_li clearfix" playid="HaCFnEQh">
                            
                                <div class="video_left">
                                    <div class="video_top">
                                        <div class="cover">
                                            <img class="lazy" data-original="https://dn-hiho.qbox.me/videopic/201412/20Dec2014153139.jpg?imageView2/1/w/230/h/119/q/100" src="https://dn-hiho.qbox.me/videopic/201412/18Dec2014231202.jpg?imageView2/1/w/230/h/119/q/100" data-no-retina="" alt="Cover" title="ted staff: It's ted, the Musical" style="display: inline;">
                                             <div class="     green_lin"></div>
                                        </div>
                                        <div class="data">
                                            <div class="title clearfix">
                                            
                                                <div class="score clearfix" title="5分">
                                                    <img src="../img/gray@2x.png" src="../img/gray@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <img src="../img/yellow@2x.png" src="../img/yellow@2x.png" class="score_mark" alt="score">
                                                    <div style="clear:both"></div>
                                                </div>
                                            
                                                <p class="title_p" title="ted staff: It's ted, the Musical"><em>ted</em> staff: It's <em>ted</em>, the Musical</p>
            
                                                <div style="clear:both"></div>
                                            </div>
                                            <div>
                                                <p class="name" style="float:left; width:150px;margin-right: 0; margin-left:0">
                                                 	<img src="../img/user_tag@2x.png" data-at2x="../img/user_tag@2x.png" alt="Speaker" title="Speaker" style="width:16px;margin-top: -3px;margin-right: 9px;">The <em>ted</em> Staff
                                                 </p>
                                            
                                                <p class="tags">
                                                 	<img src="../img/tags@2x.png" data-at2x="../img/tags@2x.png" alt="tags" title="tags">dance genetics music
                                                     
                                                </p>
                                                <div style=" clear:both"></div>
                                            </div>
                                            
                                            <p class="sub sub_js_set"  style="position: absolute; bottom:0">Do you have a <em>ted</em> Talk inside, just bursting to come out? Take this tongue-in-cheek musical journey to “Give Your Talk.” A musical love letter to our speakers -- written, directed and performed by the <em>ted</em> staff.</p>
                                        </div>
                                        <div style=" clear:both"></div>
                                    </div>
                                    
                                    <ul class="video_bottom" id="HaCFnEQh_main_list">
            							<li class="time_line" time="38.384" playid="HaCFnEQh" num="0" et="40.094" style="display:block">
                                        	<p class="time" style="float:left">00:00:38</p>
                                        	<p class="time_data" style="float:left">DH : It was <em>ted</em> .</p>
                                        	<div style="clear:both"></div>
                                    	</li>
                                        <li class="time_line" time="55.854" playid="HaCFnEQh" num="1" et="56.524" style="display:block">
                                        	<p class="time" style="float:left">00:00:55</p>
                                        	<p class="time_data" style="float:left">LP : Who's <em>ted</em> ?</p>
                                        	<div style="clear:both"></div>
                                        </li>
                                        <li class="time_line" time="109.495" playid="HaCFnEQh" num="2" et="112.204" style="display:block">
                                        	<p class="time" style="float:left">00:01:49</p>
                                        	<p class="time_data" style="float:left">? speaker , we'll make a <em>ted</em> Talk out of you .?</p>
                                        	<div style="clear:both"></div>
                                        </li>
                                     </ul>
                            	</div>
        
        
                            </li>
                        </ul>
                    </div>
               		<!-- demo  content-->
                    
               </div>
               <!--animation-widget -->
               

                
            </div>
    	<!-- content Animotion -->

    <!-- 中间内容 -->
 

    

<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script>

	$(document).ready(function() {
	
		$("#frame_input_search").keydown(function (e) {
                if (e.keyCode == 13) {
					hideVideo();
                    $("#frame_list_content").show();
                }
         }); 
		 
		 $("#frame_list_ul").delegate("li","click",function(){
			 $("#frame_web_video").show();
			 $("#frame_content").hide();
			 
			 $("#frame_video_back_img").show();
			 $("#frame_video_search_img").css("left","80px");
			 $("#frame_input_search").css({'padding-left':120});
			 
			 var playId = $(this).attr('playid');
			 document.getElementById("frame_web_video").src = 'http://192.168.199.163/paly_adaptive/'+playId;
		 });
		 
		 
		 $("#frame_video_back_img").click(function(){
			 hideVideo();
		 });
		 
	});
	
	function hideVideo(){
		$("#frame_web_video").hide();
		$("#frame_content").show();
			 
		$("#frame_video_back_img").hide();
		$("#frame_video_search_img").css("left","20px");
		$("#frame_input_search").css({'padding-left':82}); 
			 
		document.getElementById("frame_web_video").src = '';
	}
	
</script>
</body>
</html>